.Adoption_Main{
    font-family: 'Courier New', Courier, monospace;
}
.dogs-and_cats{
    display: flex;
    justify-content: space-around;
}
.pet-photo{
    box-shadow:10px 10px 10px peachpuff;
    border-radius: 20px;
}
.adopt{
    margin: auto;
    background-color:Transparent;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    color: black;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    text-align: center;
    text-decoration: none;
    width: 90px;
}

.adopt:hover{
    cursor: pointer;
     border-color: lightgreen;
     color: lightgreen;
     filter:drop-shadow(0px 0px 8px lightgreen);

   } 
   .adopt:focus{
      border-color:lightgreen;
      color: lightgreen;
   } 
@media screen and (max-width: 450px) {
    .dogs-and_cats{
        display: flex;
     
        flex-direction: column;
    }
    }